table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
    line-height: 140%;
    margin-top: 20px;
}

ol {
    list-style-type: decimal;
    margin: 10px 50px 25px 50px;
}

    ol li {
        margin-top: 15px;
    }

hr.rule {
    background: url('/images/hr.png');
    border: none;
    height: 50px;
    margin: 10px auto;
    width: 570px;
}


strong {
    font-weight: bold;
}

.btn {
  border-radius: 0 url(0);
  cursor: pointer;
  display: inline-block;
  background-color: #E6E6E6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#E6E6E6));
  background-image: -webkit-linear-gradient(white, white 25%, #E6E6E6);
  background-image: -moz-linear-gradient(top, white, white 25%, #E6E6E6);
  background-image: -ms-linear-gradient(white, white 25%, #E6E6E6);
  background-image: -o-linear-gradient(white, white 25%, #E6E6E6);
  background-image: linear-gradient(white, white 25%, #E6E6E6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  margin: 0;
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #666;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #CCC;
  border-bottom-color: #BBB;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.txt {
  display: inline-block;
  padding: 4px;
  color: #666;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.slt {
  display: inline-block;
  padding: 4px;
  color: #666;
  font-size: 13px;
  height: 27px;
  line-height: 27px;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
}
.inputs-list {
  border-left: 1px solid #efefef;
  margin: 8px 0px 0px 25px;
}
.inputs-list li {
  display: block;
  margin: 4px 0px;
  padding-left: 30px;
}
.inputs-list li td {
  vertical-align: top;
}
.inputs-list input[type="checkbox"],input[type="radio"] {
  cursor: pointer;
  margin: 5px 0px 0px -20px;
}
.inputs-list #provide,#limit,#reaffirm {
  margin: 8px 0px 8px 60px;
}





.principleicon {
  height: 24px;
  width: 24px;
}
.provideiconoff {
  background-image: url('/images/provide.png');
  height: 24px;
  width: 24px;
}
.provideiconon {
  background-image: url('/images/provide-blue.png');
  height: 24px;
  width: 24px;
}
.limiticonoff {
  background-image: url('/images/limit.png');
  height: 24px;
  width: 24px;
}
.limiticonon {
  background-image: url('/images/limit-blue.png');
  height: 24px;
  width: 24px;
}
.reaffirmiconoff {
  background-image: url('/images/reaffirm.png');
  height: 24px;
  width: 24px;
}
.reaffirmiconon {
  background-image: url('/images/reaffirm-blue.png');
  height: 24px;
  width: 24px;
}
.revolvingiconoff {
  background-image: url('/images/revolving.png');
  height: 24px;
  width: 24px;
}
.revolvingiconon {
  background-image: url('/images/revolving-blue.png');
  height: 24px;
  width: 24px;
}





#tooltip {
  display: inline-block;
  position: relative;
  zoom: 1;
  *display: inline;
}
#tooltip img {
  height: 14px;
  margin-bottom: 4px;
  width: 14px;
}
#tooltip div {
  display: none;
}
#tooltip:hover div {
  background-color: #FFFFFF;
  border: 1px solid #CCC;
  display: block;
  font-size: 0.8em;
  line-height: 140%;
  padding: 10px;
  position: absolute;
  text-align: left;
  width: 300px;
  z-index: 2;
}
.ajaxmessage {
  display: none;
  padding: 0.5em;
}
.ajaxmessage img {
  height: 16px;
  margin-bottom: 4px;
  padding-right: 2px;
  width: 16px;
}
.error {
  color: #D57777;
}
.plus-button {
  background-image: url('/images/plus-button.png');
  display: inline-block;
  height: 28px;
  vertical-align: text-bottom;
  width: 30px;
  zoom: 1;
  *display: inline;
}
.minus-button {
  background-image: url('/images/minus-button.png');
  display: inline-block;
  height: 28px;
  vertical-align: text-bottom;
  width: 30px;
  zoom: 1;
  *display: inline;
}

.box {
  background-color: #F7F7F7;
  border: 1px solid #E6E6E6;
  display: inline-block;
  padding: 4px;
  zoom: 1;
  *display: inline;
  overflow: visible;
  vertical-align: top;
}
.shadow {
  -moz-box-shadow: 4px 4px 4px #ccc;
  -webkit-box-shadow: 4px 4px 4px #ccc;
  box-shadow: 4px 4px 4px #ccc;
}

#pledgecontent {
  background-color: #EEEEF5;
  background-image: url('/images/bg-noise-blue.png');
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  padding: 20px 0;
  width: 100%;
}
.pledgebox {
  background-color: #FFF;
  cursor: pointer;
  padding: 15px;
  text-align: center;
}
.pledgetext {
  color: #5A5A3F;
  font-family: 'Jim Nightshade', cursive;
  font-size: 2.0em;
  line-height: 1.8;
  padding: 20px;
  width: 490px;
}
#askrepcontent {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}
#askrepcontent form {
  padding: 5px 0 10px 0;
}
.askrepbox {
  border: 0;
  font-size: 0.7em;
  line-height: 1.6;
  margin: 0 10px;
  padding: 10px;
  text-align: left;
  width: 230px;
}
.askrepinfo {
  background-color: #FFF;
  color: #999;
  font-weight: bold;
  padding: 10px;
  width: 208px;
}
.askrepinfo img {
  float: left;
  margin-right: 10px;
}
.askrepinfo .name {
  color: #666;
}
.askrepinfo a {
  color: #4477B0;
}
.askrepinfo .didit {
  color: #666;
}
.askrepaction {
  padding: 4px 10px;
}
.askrepaction .ask {
  color: #52451F;
}
.askrepaction table {
  width: 100%;
}
.askrepaction td {
  color: #83A8D0;
  font-size: 1.0em;
  font-weight: bold;
  line-height: 1.6;
}
#social {
  margin-top: 15px;
}
#social div {
  display: inline-block;
  margin-right: 2px;
  zoom: 1;
  *display: inline;
}
.hastakenpledge {
  background-color: #EEEEF5;
}
.hasnottakenpledge {
  background-color: #DED0A5;
}
.brokenpledge {
  background-color: #D57777;
}
#askreptips {
  font-color: #ABAB83;
  margin: auto;
  width: 100%;
}
#askreptipsaction {
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
}
#askreptipstoggle {
  display: none;
}
.askreptipscontent {
  line-height: 140%;
  margin-top: 10px;
  padding: 20px;
  text-align: left;
  width: 530px;
}
.askreptipscontent b {
  color: #666;
}
#statemapcontent {
  background-color: #EEEEF5;
  background-image: url('/images/bg-noise-blue.png');
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  padding: 20px 0;
  width: 100%;
}
#statemap {
  background-color: #fff;
  height: 600px;
  width: 900px;
}
#statecontent,#takethepledgecontent,#embedthepledgecontent,#supportcontent {
  text-align: left;
}
#embedthepledgecontent table {
  margin: 10px;
  text-align: center;
  width: 570px;
}
#embedthepledgecontent td {
  padding: 10px 0px;
}
#embedthepledgecontent input {
  margin: 0;
}
#embedthepledgecontent textarea {
  direction: ltr;
  display: block;
  width: 100%;
}
ul.inputs-list {
    margin: 15px 0 0 30px;
}
#takethepledgecontent tr {
    height: 35px;
}
#pledger {
    margin: 30px 0 0 30px;
}
#thepledgecontent,#aboutcontent,#admincontent {
  background-color: #fff;
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  padding: 20px;
  text-align: left;
}
#takethepledgecontent #proposals,#provide,#limit,#reaffirm,#politician {
  display: none;
}
#chamberinfo {
  display: inline-block;
  margin: 0px 20px 0px -20px;
  padding-top: 10px;
  vertical-align: top;
}
.chamberinfo {
  display: none;
  margin: 0px 20px 0px -20px;
  padding-top: 10px;
  vertical-align: top;
}
#politicians th {
  border-bottom: 1px solid #CCC;
  color: #333;
  font-size: 0.8em;
  font-weight: bold;
  padding: 7px 5px;
  text-align: left;
}
#politicians td {
  border-bottom: 1px solid #e0e0e0;
  font-size: 0.8em;
  padding: 7px 5px;
  vertical-align: middle;
}
.lighter {
  color: #999;
}
#photo {
  background-color: #e7e7e7;
  border: 1px solid #f7f7f7;
  float: left;
  margin: 0 4px 0 0;
  padding: 4px;
}
.names {
  color: #666;
  font-weight: bold;
}
#tooltip {
  display: inline-block;
  position: relative;
  zoom: 1;
  *display: inline;
}
#tooltip img {
  height: 14px;
  margin-bottom: 4px;
  width: 14px;
}
#tooltip div {
  display: none;
}
#tooltip:hover div {
  background-color: #FFFFFF;
  border: 1px solid #CCC;
  display: block;
  font-size: 0.8em;
  padding: 8px;
  position: absolute;
  text-align: left;
  width: 300px;
  z-index: 2;
}
.ajaxmessage {
  display: none;
  padding: 0.5em;
}
.ajaxmessage img {
  height: 16px;
  margin-bottom: 4px;
  padding-right: 2px;
  width: 16px;
}
.error {
  color: #D57777;
}
.plus-button {
  background-image: url('/images/plus-button.png');
  display: inline-block;
  height: 28px;
  vertical-align: text-bottom;
  width: 30px;
  zoom: 1;
  *display: inline;
}
.minus-button {
  background-image: url('/images/minus-button.png');
  display: inline-block;
  height: 28px;
  vertical-align: text-bottom;
  width: 30px;
  zoom: 1;
  *display: inline;
}

#content {
  background-color: #fff;
  margin: 0 auto;
}
#generalcontent {
  margin: 0 auto;
  padding: 10px 130px;
  text-align: left;
}
#title {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.4;
}
#buffer {
  height: 18px;
}


#pledgebutton {
  background-color: #0064CD;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049CDB), to(#0064CD));
  background-image: -moz-linear-gradient(top, #049CDB, #0064CD);
  background-image: -ms-linear-gradient(top, #049CDB, #0064CD);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049CDB), color-stop(100%, #0064CD));
  background-image: -webkit-linear-gradient(top, #049CDB, #0064CD);
  background-image: -o-linear-gradient(top, #049CDB, #0064CD);
  background-image: linear-gradient(top, #049CDB, #0064CD);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064CD #0064CD #003F81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-family: 'Tangerine', cursive;
  font-size: 1.2em;
  font-weight: bold;
}
#pledgebutton:hover {
  color: #E0E0E0;
}
#donatebutton {
  background-color: #57A957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62C462), to(#57A957));
  background-image: -moz-linear-gradient(top, #62C462, #57A957);
  background-image: -ms-linear-gradient(top, #62C462, #57A957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62C462), color-stop(100%, #57A957));
  background-image: -webkit-linear-gradient(top, #62C462, #57A957);
  background-image: -o-linear-gradient(top, #62C462, #57A957);
  background-image: linear-gradient(top, #62C462, #57A957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57A957 #57A957 #3D773D;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-weight: bold;
}

div#donate { margin-top: 5px; }

#embedthepledgecontent {
}

    #embedthepledgecontent table {
        margin: 10px;
        text-align: center;
        width: 550px;
    }

    #embedthepledgecontent td {
        padding: 10px 0px;
        vertical-align: middle;
    }

    #embedthepledgecontent input {
        margin: 0;
    }

    #embedthepledgecontent textarea {
        direction: ltr;
        display: block;
        width: 100%;
    }


div#lookup_results { margin: 20px 0; }
