div.clear-both { clear: both; }

body {
    background: url('../img/bg.jpg') repeat;
}

h1 {
    background-image: url('../img/header-logo.png');
    height: 87px;
    margin: 30px auto 20px auto;
    width: 960px;
}

    h1 span { display: none; }

p#project-of-rootstrikers {
    color: #555;
    font-family: 'Droid Serif', Georgia, sans-serif;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 30px;
    text-align: center;
}

    p#project-of-rootstrikers a {
        color: #9b270c;
    }

h2 {
    font-size: 22px;
    font-weight: bold;
}

a, a:visited, a:active { color: #1a80db; }
a:hover { color: #3093ec; }

li { line-height: 140% }

div#container {
    background-color: #fff;
    box-shadow: 0px 0px 9px #555;
        -webkit-box-shadow: 0px 0px 9px #555;
        -moz-box-shadow: 0px 0px 9px #555;
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=0, Color='#555555')";
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=9, Direction=0, Color='#555555');
    color: #333;
    font-family: 'Droid Serif', Georgia, Times, serif;
    font-size: 15px;
    margin: 0 auto 50px auto;
    position: relative;
    width: 960px;
}

    div#container a#rootstrikers-button {
        background: url('../img/rootstrikers-logo.png');
        display: block;
        height: 73px;
        position: absolute;
        top: -91px;
        right: -1px;
        width: 250px;
    }

ul#nav {
    list-style-type: none;
    position: relative;
    width: 100%;
}

    ul#nav li {
        display: block;
        position: relative;
    }

        ul#nav li div#down-arrow {
            background: url('../img/down-arrow.png');
            height: 10px;
            left: 135px;
            position: absolute;
            top: 102px;
            width: 50px;
        }

        ul#nav li div.arrow-second { left: 455px !important; }
        ul#nav li div.arrow-third { left: 775px !important; }

        ul#nav li a {
            color: #777;
            display: block;
            background-color: #ccc;
            float: left;
            font-family: Georgia, Times, serif;
            font-size: 14px;
            font-style: italic;
            line-height: 140%;
            padding: 15px;
            text-decoration: none;
            width: 290px;
        }

            ul#nav li.middle-nav a {
                border-left: 1px solid #bbb;
                border-right: 1px solid #bbb;
                width: 288px;
            }


            ul#nav li a:visited { background-color: #ccc; }
            ul#nav li a:active { background-color: #ccc !important; }
            ul#nav li a:hover { background-color: #ddd; }

            ul#nav li a span {
                color: #555;
                display: block;
                font-size: 22px;
                font-style: normal;
                line-height: auto;
                margin-bottom: 15px;
                text-transform: uppercase;
            }

        ul#nav li#current-nav {}

            ul#nav li#current-nav a {
                background-color: #9b270c;
                color: #ddd;
            }

                ul#nav li#current-nav a span {
                    color: #fff;
                }

div#content {
    padding: 30px;
}

div#footer { padding: 20px; }

    div#footer div#share-buttons {
        text-align: center;
    }

    div#footer p#footer-links {
        text-align: center;
    }
