<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% endblock %}The Anti-Corruption Pledge</title>

    <!-- Google Web Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    
    <!-- Stylesheets -->
    <link href="/css/zero.css" rel="stylesheet" type="text/css" />
    <link href="/css/old.css" rel="stylesheet" type="text/css" />
    <link href="/css/sitewide.css" rel="stylesheet" type="text/css" />{% block extra_stylesheets %}{% endblock %}


    <!-- Initialize HTML5 elements in IE -->
    <!--[if lt IE 9]>  
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>  
    <![endif]--> 

    <!-- Support gradients in IE9 -->
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->

    <!-- Facebook share fields -->
    <meta property="og:title" content="The Anti-Corruption Pledge" />
    <meta property="og:description" content="Money is corrupting our democracy. Across the country, citizens and candidates are pledging to fight the corrupting influence of political cash." />
    <meta property="og:image" content="http://theanticorruptionpledge.org/img/fb-thumb.jpg" />

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">

    {% block headers %}{% endblock %}

</head>
<body onload="{% block onload_javascript %}{% endblock %}">
    <h1><span>The Anti-Corruption Pledge</span></h1>
    <div id="container">
        <a href="http://www.rootstrikers.org/" id="rootstrikers-button"></a>
        <ul id="nav"><!-- todo: draft nav text and add: 15 mins -->
            <li{% if nav_main_page %} id="current-nav"><div id="down-arrow"></div>{% else %}>{% endif %}<a href="/"><span>Why the Pledge?</span>Learn how corruption threatens our democracy&#8212;and how to stop it</a></li>
            <li class="middle-nav"{% if nav_take_the_pledge %} id="current-nav"><div id="down-arrow" class="arrow-second"></div>{% else %}>{% endif %}<a href="/take-the-pledge/"><span>Take the Pledge</span>Join the movement to fight corruption and reclaim our government</a></li>
            <li{% if nav_help_the_cause %} id="current-nav"><div id="down-arrow" class="arrow-third"></div>{% else %}>{% endif %}<a href="/help-the-cause/"><span>Help the Cause</span>Hold politicians accountable, share your story, and help spread the word</a></li>
        </ul><!--/#nav-->
        <div class="clear-both"></div>
        <!-- todo: finish nav styling: 20 mins -->
        <div id="content">
            {% block content %}{% endblock %}
        </div><!--/#content-->
        <div id="footer">
            <div id="share-buttons">
                <span class="st_facebook_large"></span>
                <span class="st_twitter_large"></span>
                <span class="st_email_large"></span>
                <span class="st_reddit_large"></span>
                <span class="st_digg_large"></span>
                <span class="st_delicious_large"></span>
                <span class="st_stumbleupon_large"></span>
                <span class="st_google_large"></span>
                <span class="st_blogger_large"></span>
                <span class="st_sharethis_large"></span>
            </div>            
            <p id="footer-links">
                Questions? <a href="mailto:info@rootstrikers.org">info@rootstrikers.org</a>
                &nbsp; &middot; &nbsp;
                <a href="http://www.rootstrikers.org/donate/">Donate</a>
            </p>
            <!-- todo: share buttons: 10 mins -->
        </div><!--/footer-->
    </div><!--/#container-->

    <!-- JavaScript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>{% block extra_javascript %}{% endblock %}
    <script type="text/javascript" src="/js/location_lookup.js"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAIn6O2IDkVi1-XUBwDbnpyxdVUeJOMna4&sensor=false"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
 
    <!-- ShareThis widget -->
        <script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'856f5c63-69b6-4e4f-9147-bebc2576453f'});</script>
   
    <script type="text/javascript" src="/js/base.js"></script>

      <script type="text/javascript">
    function bind(func, parameter) {
      return function() {
        func(parameter);
      };
    };
  
    function show(id) {
      document.getElementById(id).style.display = "block";
    };
    
    function showinline(id) {
      document.getElementById(id).style.display = "inline-block";
    };

    function showtablerow(id) {
      document.getElementById(id).style.display = "table-row";
    }

    function hide(id) {
      if(document.getElementById(id) ) {
        document.getElementById(id).style.display = "none";
      }
    };

    function toggleElement(id) {
      if (document.getElementById(id).style.display == "block") {
        hide(id);
      } else {
        show(id);
      }
    };

    // takethepledge
    function toggleProposals(id) {
      if (document.getElementById('pledgeForm').is_politician.checked) {
        toggleElement(id);
      } else {
        hide(id);
      }
      document.getElementById(id + 'icon').className = (document.getElementById(id + 'icon').className == id + 'iconoff' ? id + 'iconon' : id + 'iconoff')
    };

    function togglePolitician(politician) {
      if (politician == 'Candidate') {
        showinline('chamber');
              document.getElementById('chamberselect').selectedIndex = 0;
        hide('state');
        hide('district');
      } else if (politician == 'Representative') {
        hide('chamber');
        showinline('state');
        showinline('district');
      } else if (politician == 'Senator') {
        hide('chamber');
        showinline('state');
        hide('district');
      }
    };

    function toggleChamber(chamber) {
      if (chamber.value == 'House') {
        showinline('state');
        showinline('district');
      } else if (chamber.value == 'Senate') {
        showinline('state');
        hide('district');
      }
    };
    
    /**
     * Start the process of looking up the user's district from their address.
     */
    function lookupDistrict() {
      var pledgeForm = document.getElementById("pledgeForm");
      if(validateForm()){
        var address = [
          pledgeForm.address.value, 
          pledgeForm.city.value, 
          pledgeForm.state.value, 
          pledgeForm.zipcode.value
        ].join(", ");
        lookupPoliticians(address,
          '',
          document.getElementById("geolocating_failure"),
          '',
          document.getElementById("lookup_politicians_failure"),
          doneLookupDistrict);
	  }
      return false;
    }

    function doneLookupDistrict(state, district, bioguide_ids) {
      document.getElementById("pledgeForm").district.value = district;
      if (validateForm()) {
        document.getElementById("pledgeForm").submit();
      }
    }

    function validateEmail(email) {
      // From http://stackoverflow.com/questions/46155/validate-email-address-in-javascript 
      var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    } 
    
    function validateForm() {
      var pledgeForm = document.getElementById("pledgeForm");
      var validEmail = true;
	  var validAddress = true;
	  var validCity = true;
      if (pledgeForm.email.value && !validateEmail(pledgeForm.email.value)) {
        validEmail = false;
      }
	  if(!pledgeForm.email.value){
		  validEmail = false;
	  }
      if (validEmail) {
        hide('error_email');
      } else {
        showtablerow('error_email');
      }
	  if(!pledgeForm.address.value){
		  validAddress = false;
	  }
	  if(!pledgeForm.city.value){
	  	  validCity = false;
	  }
	  
	  if(validAddress){
          hide('error_address');
        } else {
          showtablerow('error_address');
        }
	  
	  if(validCity){
          hide('error_city');
        } else {
          showtablerow('error_city');
        }
	  
      validType = true;
      validParty = true;
      validChamber = true;
      validState = true;
      validDistrict = true;
      if (pledgeForm.is_politician.checked) {
        if (document.getElementById("candidate").checked == false && document.getElementById("representative").checked == false && document.getElementById("senator").checked == false) {
          validType = false;
        }
        if (pledgeForm.politician_party.selectedIndex == 0) {
          validParty = false;
        }
        if (document.getElementById("candidate").checked) {
          if (pledgeForm.politician_chamber.selectedIndex == 0) {
            validChamber = false;
          }
          if (pledgeForm.politician_chamber.selectedIndex == 1) {
            if (pledgeForm.politician_state.selectedIndex == 0) {
              validState = false;
            }
            if (pledgeForm.politician_district.selectedIndex == 0) {
              validDistrict = false;
            }
          }
          if (pledgeForm.politician_chamber.selectedIndex == 2) {
            if (pledgeForm.politician_state.selectedIndex == 0) {
              validState = false;
            }
          }
        }
        if (document.getElementById("representative").checked) {
          if (pledgeForm.politician_state.selectedIndex == 0) {
            validState = false;
          }
          if (pledgeForm.politician_district.selectedIndex == 0) {
            validDistrict = false;
          }
        }
        if (document.getElementById("senator").checked) {
          if (pledgeForm.politician_state.selectedIndex == 0) {
            validState = false;
          }
        }
      }
      if (validType) {
        hide('error_type');
      } else {
        show('error_type');
      }
      if (validParty) {
        hide('error_party');
      } else {
        show('error_party');
      }
      if (validChamber) {
        hide('error_chamber');
      } else {
        show('error_chamber');
      }
      if (validState) {
        hide('error_state');
      } else {
        show('error_state');
      }
      if (validDistrict) {
        hide('error_district');
      } else {
        show('error_district');
      }
	  // TODO:  need validPledge?
      return (validEmail && validType && validParty && validChamber && validState && validDistrict && validAddress && validCity);
    }
    // end takethepledge

    // Setup twitter
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


    </script>


    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5936383-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

</body>
</html>


