{% extends "base.html" %}
{% block headers %}
  <script type="text/javascript">
    function show(id) {
      document.getElementById(id).style.display = "block";
    };

    function showinline(id) {
      document.getElementById(id).style.display = "inline-block";
    };
    
    function hide(id) {
      document.getElementById(id).style.display = "none";
    };

    function toggleEmbed(id) {
      if (id == 'embedv') {
        hide('embedh');
        show('embedv');
      } else {
        hide('embedv');
        show('embedh');
      }
    };
  </script>
{% endblock %}
{% block content %}
  <div style="margin-bottom: 30px;"id="thepledgecontent">
	  {% block confirmation %}{% endblock %}
  </div>
  {% include "call_on_representative.html" %}
  
  <br /><br />

  <div id="embedthepledgecontent">
    <h2>Share with your friends and family</h2>
    <div id="social">
      <div>
        <g:plusone size="medium" annotation="none" href="http://www.theanticorruptionpledge.org/"></g:plusone>
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
      </div>
      <div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.theanticorruptionpledge.org/" data-text="I took The Anti-Corruption Pledge, have you?" data-count="none" data-hashtags="takethepledge">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-send" data-href="http://www.theanticorruptionpledge.org/" data-layout="button_count" data-width="50" data-show-faces="false" style="vertical-align:top;zoom:1;*display:inline"></div>
    </div>

    <br /><br />

    <h2>Embed your pledge</h2>
    {% if pledges|lengthis:"0" %}
      <p>Place the code below wherever you want it to appear on your page.</p>
      <table>
        <tr>
          <td>
            <iframe allowTransparency="true" frameborder="0" scrolling="no" src="/embed?k={{ k }}" style="border: none; overflow: hidden; height: 98px; width: 98px;"></iframe>
          </td>
          <td>
            <textarea rows="4" spellcheck="false" onclick="this.focus(); this.select();"><iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://{{ request.host }}/embed?k={{ k }}" style="border: none; overflow: hidden; height: 98px; width: 98px;"></iframe></textarea>
          </td>
        </tr>
      </table>
    {% else %}
      <p>Decide if you would like vertical or horizontal then place the code below wherever you want it to appear on your page.</p>
      <table>
        <tr>
          <td>
            <iframe allowTransparency="true" frameborder="0" scrolling="no" src="/embed?k={{ k }}&o=v" style="border: none; overflow: hidden; height: {{ pledge_badge_dimension }}px; width: 100px;"></iframe>
          </td>
          <td>
            <iframe allowTransparency="true" frameborder="0" scrolling="no" src="/embed?k={{ k }}&o=h" style="border: none; overflow: hidden; height: 100px; width: {{ pledge_badge_dimension }}px;"></iframe>
          </td>
        </tr>
        <tr>
          <td><input name="orientation" type="radio" onclick="toggleEmbed('embedv');" checked /></td>
          <td><input name="orientation" type="radio" onclick="toggleEmbed('embedh');" /></td>
        </tr>
        <tr>
          <td colspan="2">
            <textarea id="embedv" rows="4" spellcheck="false" onclick="this.focus(); this.select();" ><iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://{{ request.host }}/embed?k={{ k }}&o=v" style="border: none; overflow: hidden; height: {{ pledge_badge_dimension }}px; width: 100px;"></iframe></textarea>
            <textarea id="embedh" rows="4" spellcheck="false" onclick="this.focus(); this.select();" style="display: none;"><iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://{{ request.host }}/embed?k={{ k }}&o=h" style="border: none; overflow: hidden; height: 100px; width: {{ pledge_badge_dimension }}px;"></iframe></textarea>
          </td>
        </tr>
      </table>
    {% endif %}
  </div>
{% endblock %}
