<script type="text/javascript">
	function toggleButton(id) {
	  if (document.getElementById(id).className == "plus-button") {
	    document.getElementById(id).className = "minus-button";
	  } else {
	    document.getElementById(id).className = "plus-button";
	  }
	}

	function lookupRepresentatives() {
	  // Clear the previous politician badges on the page.
	  document.getElementById("lookup_results").innerHTML = ""
	  
	  var address = document.getElementById("address").value;
	  lookupPoliticians(address,
	      document.getElementById("geolocating_message"),
	      document.getElementById("geolocating_failure"),
	      document.getElementById("lookup_politicians_message"),
	      document.getElementById("lookup_politicians_failure"),
	      doneLookupRepresentatives);
	  return false;
	}

	var numOutstanding = 0;

	function doneLookupRepresentatives(state, district, bioguide_ids) {
	  numOutstanding = bioguide_ids.length;
	  var politiciansElement = document.getElementById("lookup_results");
	  for (var i = 0; i < bioguide_ids.length; ++i) {
	    render(politiciansElement, "/politician/" + bioguide_ids[i]);
	  }
	}

	function render(parentNode, url) {
	  jQuery.ajax(url, {
	    success: function(data, textStatus, jqXHR) {
	        // Append the HTML.
	    // parentNode.append(data);
	        parentNode.innerHTML += data;
  
	        numOutstanding -= 1;
	        if (numOutstanding == 0) {
	          doneRender();
	        }
	    }
	  });
	}
    
	function doneRender() {
	  // Initialize twitter badges
	  window.twttr.widgets.load();
  
	  // Initialize PlusOne badges
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
      
	  // Initialize Facebook badges
	  // FB.XFBML.parse();
	}

	var DEFAULT_ADDRESS_TEXT = "Your Address or Zip Code";
	function updateAddress() {
	  var input = document.getElementById("address");
	  if (input.value == DEFAULT_ADDRESS_TEXT) {
	    input.value = "";
	  }
	}

	function setDefaultAddress() {
		// TODO:  This is not jquery, this is the $ defined above,
		// We should only use one of those options.
		var addressInput = document.getElementById("address");
		addressInput.value = "Your Address or Zip Code";
	}

</script>
<h2>Call on your lawmakers to take the pledge</h2>

<br /><br />

<form onsubmit="javascript:return lookupRepresentatives();">
	<input class="txt" size="30" type="text" id="address" name="address" onclick="javascript:updateAddress();" />
  	<button class="btn" type="submit">Find Representatives</button>
	<div id="tooltip">
		<img src="/images/tooltip.gif" />
		<div>
		  This website does not store your address for this search. Your address will be transmitted to <a href="https://www.google.com/" target="_blank">Google</a> to determine your geographic coordinates. Once determined, your geographic coordinates will be sent to the <a href="http://api.sunlightlabs.com/" target="_blank">Sunlight Foundation</a> to determine your representatives. Neither of these two sites record personally-identifiable information relating to these requests.
	  	</div>
  	</div>
</form>

<script type="text/javascript">
   setDefaultAddress();
</script>
<div id="geolocating_message" class="ajaxmessage">
    <img src="/images/spinner.gif" /> Determining your location.
</div>
<div id="geolocating_failure" class="ajaxmessage error">
    Could not determine your location, try again?
</div>
<div id="lookup_politicians_message" class="ajaxmessage">
   <img src="/images/spinner.gif" /> Determining your representatives.
</div>
<div id="lookup_politicians_failure" class="ajaxmessage error">
    Could not find your representatives, did you enter the address correctly?
</div>
<div id="lookup_results"></div>
<div id="askreptips">
  <div id="askreptipsaction" onclick="$('#askreptipstoggle').toggle();toggleButton('askreptipsbutton');">
    <div class="plus-button" id="askreptipsbutton"></div> Need some tips on what to write &amp; say to your Representative?</div>
    <div id="askreptipstoggle">
      <div class="box shadow askreptipscontent">
	      <b>Tips for composing a written message</b>
	      <br/>
	      <br/>
	      When writing your representative be sure to inform them of the details of the pledge and why you think it is important for them to take it. Be sure to use your name and mailing address in the message so they can verify you as a constituent.
	      <br/>
	      <br/>
	      <b>Tips for making a phone call</b>
	      <br/>
	      <br/>
	      When calling a representative's office be sure to identify yourself as a constituent. Give them your name and mailing address for verification and say you have an issue to raise. Inform them of this pledge and that you would like to know if your representative will be taking this pledge and that you urge your representative to take it.
	      <br/>
	      <br/>
	      <b>A Sample Communication</b>
	      <br/>
	      <br/>
	      Representative Smith,
	      <br/>
	      <br/>
	      As one of your constituents I am very concerned about the overwhelming influence of money in politics today. I would like to make you aware of a movement for Members of Congress to take a pledge to curb this influence. It is The Anti-Corruption Pledge. By taking this pledge you will take whatever steps are necessary to end the continuing influence of money in the government of the United States. You commit to at least one of three principles: provide that public elections are publicly funded; limit, and make transparent, independent political expenditures; and/or reaffirm that when the Declaration of Independence spoke of entities &quot;endowed by their Creator with certain unalienable Rights,&quot; it was speaking of natural persons only. I am sure you agree that these are worthwhile principles and are able to commit to at least one of them. Will you do so? 
	      <br/>
	      <br/>
	      You can take the pledge at http://www.theanticorruptionpledge.org/.
	      <br/>
	      <br/>
	      Sincerely,
	      <br/>
	      Full Name
	      <br/>
	      1234 Street Address
	      <br/>
	      City, ST ZIPCD
    </div>
  </div>
</div>
			  
