{% extends "base_confirmation.html" %}
{% block page_title %}Email Confirmed - Embed The Pledge{% endblock %}
{% block confirmation %}
    <div id="title">Thanks! Your email address has been verified. We've added you to the map of pledgers, which you can see <a href="/">here</a>.</div>
{% endblock %}
