{% extends "base_confirmation.html" %}
{% block page_title %}Embed The Pledge - {% endblock %}
{% block confirmation %}
    <div id="title">Thanks for taking The Anti-Corruption Pledge.</div>
    <p>An email will be sent to you shortly to verify your email address.  Your pledge will show up in the total tally when your email address has been verified.</p>
    <p>Let your friends and family know you've taken the pledge with the links below. You can also embed your personalized pledge on your own website.</p>
{% endblock %}
