<html>
  <head>
    <style>
      body { margin: 0; }
      
      .pb { height: 24px; width: 24px; }
      
      {% ifequal orientation "v" %}
        #seal-wrapper { height: {{ pledge_badge_dimension }}px; width: {% if pledges|lengthis:"0" %}98{% else %}100{% endif %}px; }
        
        ul { background: url('/images/seal-vertical-bkrd.png') 0 0 repeat-y; list-style: none; margin: 0; padding: 0 0 0 38px; }
        li { margin: 0; padding: 0; }
        
      {% else %}
        #seal-wrapper { height: {% if pledges|lengthis:"0" %}98{% else %}100{% endif %}px; width: {{ pledge_badge_dimension }}px;}
        #seal-wrapper .seal-header{ float: left; }
        
        ul { background: url('/images/seal-horizontal-bkrd.png') 0 0 repeat-x; float: left; list-style: none; margin: 27px 0 0 0; padding: 11px 0 10px 0; }
        li { margin: 0; padding: 0; display: inline; }
        
        .p { height: {% if pledges|lengthis:"0" %}98{% else %}100{% endif %}px; position: absolute; width: {% if pledges|lengthis:"0" %}98{% else %}{{ pledge_badge_dimension }}{% endif %}px; top: 0; left: 0; }
      {% endifequal %}
    </style>
  </head>
  <body>
    <a href="http://www.theanticorruptionpledge.org/" target="_blank">
      <div id="seal-wrapper">
      {% ifequal orientation "v" %}
        <img alt="The Anti-Corruption Pledge" class="seal-header" src="/images/seal-vertical-header.png" title="I hereby pledge to do whatever it takes to end the corrupting influence of money in our government." />
      {% else %}
        {% ifequal orientation "h" %}
          <img alt="The Anti-Corruption Pledge" class="seal-header" src="/images/seal-horizontal-header.png" title="I hereby pledge to do whatever it takes to end the corrupting influence of money in our government." />
        {% else %}
          <img alt="The Anti-Corruption Pledge" class="seal-header" src="/images/seal-standard.png" title="I hereby pledge to do whatever it takes to end the corrupting influence of money in our government." />
        {% endifequal %}
      {% endifequal %}
      
      <ul>
      {% for pledge in pledges %}
        <li>
        {% ifequal pledge "provide" %}
          <img class="pb pb{{ forloop.counter }}{{ orientation }}" src="/images/provide.png" title="I pledge to provide that public elections are publicly funded.{% for proposal in provide_proposals %}{% ifequal forloop.counter 1 %} Specifically, I support proposals:{% endifequal %} {{ proposal.name }}. {% endfor %}" />
        {% endifequal %}
        {% ifequal pledge "limit" %}
          <img class="pb pb{{ forloop.counter }}{{ orientation }}" src="/images/limit.png" title="I pledge to limit, and make transparent, independent political expenditures.{% for proposal in limit_proposals %}{% ifequal forloop.counter 1 %} Specifically, I support proposals:{% endifequal %} {{ proposal.name }}. {% endfor %}" />
        {% endifequal %}
        {% ifequal pledge "reaffirm" %}
          <img class="pb pb{{ forloop.counter }}{{ orientation }}" src="/images/reaffirm.png" title="I pledge to reaffirm that when the Declaration of Independence spoke of entities &quot;endowed by their Creator with certain unalienable Rights,&quot; it was speaking of natural persons only.{% for proposal in reaffirm_proposals %}{% ifequal forloop.counter 1 %} Specifically, I support proposals:{% endifequal %} {{ proposal.name }}. {% endfor %}" />
        {% endifequal %}
        {% ifequal pledge "revolving" %}
          <img class="pb pb{{ forloop.counter }}{{ orientation }}" src="/images/revolving.png" title="I pledge to close the revolving door between Congress and K Street.{% for proposal in revolving_proposals %}{% ifequal forloop.counter 1 %} Specifically, I support proposals:{% endifequal %} {{ proposal.name }}. {% endfor %}" />
        {% endifequal %}
        </li>
      {% endfor %}
      </ul>
      
      {% ifequal orientation "v" %}
        <img alt="The Anti-Corruption Pledge" class="seal-footer" src="/images/seal-vertical-footer.png" title="I hereby pledge to do whatever it takes to end the corrupting influence of money in our government." />
      {% else %}
        {% ifequal orientation "h" %}
          <img alt="The Anti-Corruption Pledge" class="seal-footer" src="/images/seal-horizontal-footer.png" title="I hereby pledge to do whatever it takes to end the corrupting influence of money in our government." />
        {% endifequal %}
      {% endifequal %}
      
      </div>
    </a>
  </body>
</html>
