{% extends "base.html" %}
{% block headers %}
  <script type="text/javascript">
    function show(id) {
      document.getElementById(id).style.display = "block";
    };

    function showinline(id) {
      document.getElementById(id).style.display = "inline-block";
    };
    
    function hide(id) {
      document.getElementByIdid).style.display = "none";
    };

    function toggleEmbed(id) {
      if (id == 'embedv') {
        hide('embedh');
        show('embedv');
      } else {
        hide('embedv');
        show('embedh');
      }
    };
  </script>
{% endblock %}
{% block content %}
  {% include "call_on_representative.html" %}
  
<br /><br />


 <h2>Share Your Story</h2>

            <p>Why does the pledge matter to you? How are you holding politicians accountable? We want to hear your story. Here's how to do it:</p>

            <ol>
                <li><a href="http://support.google.com/youtube/bin/static.py?hl=en&page=guide.cs&guide=1646810">Sign up</a> for a YouTube account</li>
                <li>Record a video about why you care about the pledge (you don't need special equipment&#8212;you can <a href="http://support.google.com/youtube/bin/answer.py?hl=en&answer=57409">use your computer's webcam</a>)</li>
                <li><a href="mailto:info@rootstrikers.org">Send us a link</a> and we'll post the video here</li>
            </ol>

            <h2 class="subtitle">Help us make the pledge better</h2>
              <p>We are grateful to the volunteers who got this site launched, and get the project going. But it will take an army of volunteers to whip every Member and Candidate into taking a stand. Likewise, it will take many more resources than we currently have to make this project work right.</p>
              <p>If you can volunteer to support The Anti-Corruption Pledge, please do so at our <a href="http://wiki.lessig.org/tacp">wiki</a>. We need coders, activists and citizens galore to make this work.</p>
              <p>If you can help us with a donation, that will make this project much more successful. We want this to be a volunteer project, but resources will make it easier for us to draw people into the site.</p>
              <br/>
              <div id="donate">
                <form action="https://simplecheckout.authorize.net/payment/CatalogPayment.aspx" method="POST">
                  <input type="hidden" name="LinkId" value="340c5a6e-a2eb-40f9-8cb7-e87f22a3c13c" />
                  <button class="btn" id="donatebutton">Donate</button>
                </form>
              </div>
              <p>If you have suggestions and changes, please use the <a href="http://wiki.lessig.org/tacp">wiki</a>. If you need to communicate in confidence, please email <a href="mailto:info@rootsrikers.org">info@rootstrikers.org</a>.</p>

<br /><br />

  <div id="embedthepledgecontent">
    <h2>Share with your friends and family</h2>
    <div id="social">
      <div>
        <g:plusone size="medium" annotation="none" href="http://www.theanticorruptionpledge.org/"></g:plusone>
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
      </div>
      <div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.theanticorruptionpledge.org/" data-text="I took The Anti-Corruption Pledge, have you?" data-count="none" data-hashtags="takethepledge">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-send" data-href="http://www.theanticorruptionpledge.org/" data-layout="button_count" data-width="50" data-show-faces="false" style="vertical-align:top;zoom:1;*display:inline"></div>
    </div>

<br /><br />

  </div>
{% endblock %}

