{% extends 'base_map.html' %}

{% block extra_stylesheets %}<link href="/css/index.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block content %}

<div id="intro-video">
    <iframe src="http://player.vimeo.com/video/36624800" width="580" height="325" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>

<p class="intro-header intro-first">
    Money is corrupting our democracy. Take the pledge to fix it.
</p>    

<p class="intro-blurb">
    Across the country, citizens and candidates are pledging to fight the
    corrupting influence of political cash.
</p>

<div>
    <a href="/take-the-pledge/" id="intro-pledge-button">Take the Pledge &raquo;</a>
</div>

<p class="more-info">...or <a href="/help-the-cause/">click here</a> to see how you can help</p>

<div class="clear-both"></div>

<p class="about-rootstrikers">

<a href="http://www.rootstrikers.org/">Rootstrikers</a> want to end the corrupting influence of money in politics. By taking the pledge, you join the fight and specify exactly what you are ready to fight for&#8212;what does a clean election system look like to you? 
<br /><br />
We built this tool so that you can take the lead to establish what political accountability means to you. When you take the pledge, you'll get a badge that shows exactly what reforms you believe are required. With that badge comes our only ask: share your beliefs with others so that we have more leaders in this fight.

</p>

<hr class="rule" style="margin: 30px auto 0 auto;"/>

<p id="pledges-so-far"><span>{{ pledge_count }}</span> pledges so far</p>


<div id="container" style="height: 570px;"><div id="statemap"></div></div>

<hr class="rule" style="margin: 30px auto">

<h2>Share Your Story</h2>

<p>Why does the pledge matter to you? How are you holding politicians accountable? We want to hear your story. <a href="/help-the-cause/">Click here</a> to submit a video.<br /><br /></p>

<iframe width="480" height="360" src="https://www.youtube.com/embed/3xgj4rWlfzA" frameborder="0" allowfullscreen></iframe>

<hr class="rule" style="margin: 30px auto">

<h2>Embed the pledge</h2>

<p>Place the code below wherever you want it to appear on your page.</p>

<div id = "embedthepledgecontent">
  <table>
    <tr>
      <td>
        <iframe allowTransparency="true" frameborder="0" scrolling="no" src="/embedstaticpledge" style="border: none; overflow: hidden; height: 98px; width: 98px;"></iframe>
      </td>
      <td>
        <textarea rows="4" spellcheck="false" onclick="this.focus(); this.select();"><iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://{{ request.host }}/embedstaticpledge" style="border: none; overflow: hidden; height: 98px; width: 98px;"></iframe></textarea>
      </td>
    </tr>
  </table>
</div>

<p><a href="/take-the-pledge/">Click here</a> to customize your badge.</p>



<div class="clear-both"></div>
{% endblock %}
    

