<option value="Democratic">Democratic</option>
<option value="Green">Green</option>
<option value="Independent">Independent</option>
<option value="Libertarian">Libertarian</option>
<option value="Moderate">Moderate</option>
<option value="Republican">Republican</option>
<option value="Unaffiliated">Unaffiliated</option>
