
<p style="margin-top: 0;">To take the pledge, you must commit to something for this cause. At a minimum, you agree to be counted. Ideally, you recruit others, including candidates for Congress. You choose the principles that you commit to. If you're a candidate, you can choose the specific proposals that would enact those principles.</p>

<div id="takethepledgecontent">
<form method="POST" name="pledgeForm" id="pledgeForm" action="/take-the-pledge/">
         <br/> 
         <img src="/img/pledge.png" />
         <br/>
         <br/>
         <br />

         {% include "politician_subform.html" %}
         <br/>
         <br/>
         <br />
         I support reform that would:<br /><br />
         <ul class="inputs-list">
             <!-- begin provide -->
             <li>
                 <label>
                     <table>
                         <tr>
                             <td>
                                 <input id="providebox" name="pledged_provide" type="checkbox" onclick="toggleProposals('provide');" />
                             </td>
                             <td width="28">
                                 <div class="provideiconoff" id="provideicon"></div>
                             </td>
                             <td>
                                 Provide that public elections are publicly funded.
                         <div id="tooltip">
                             <img src="/images/tooltip.gif" />
                             <div>Campaigns for public elections need to be publicly funded. Whether through vouchers funded by tax rebates that citizens can donate to candidates, or a system to multiply small dollar contributions, we need campaigns funded by all of us, and not just a tiny fraction of the 1%.</div>
                         </div>
                             </td>
                         </tr>
                     </table>
                 </label>
             </li>
             <div id="provide">
                 <li>
                     Such as:
                     <span class="lighter">optional</span>
                     <ul class="inputs-list">
                         {% for proposal in provide_proposals %}
                             <li>
                                 <label>
                                     <input name="supported_proposal_provide" type="checkbox" value="{{ proposal.key }}" />
                                     {{ proposal.name }}
                                     <div id="tooltip">
                                         <img src="/images/tooltip.gif" />
                                         <div>{{ proposal.tooltip }}</div>
                                     </div>
                                 </label>
                             </li>
                         {% endfor %}
                     </ul>
                 </li>
             </div>
             <!-- end provide -->

             <!-- begin limit -->
             <li>
                 <label>
                     <table>
                         <tr>
                             <td>
                                 <input id="limitbox" name="pledged_limit" type="checkbox" onclick="toggleProposals('limit');" />
                            </td>
                             <td width="28">
                                 <div class="limiticonoff" id="limiticon"></div>
                             </td>
                             <td>
                                 Limit, and make transparent, independent political expenditures.
                         <div id="tooltip">
                             <img src="/images/tooltip.gif" />
                             <div>The Supreme Court has given corporations and individuals the right to spend unlimited amounts in a campaign. Congress should have the power to at least limit those expenditures.</div> 
                         </div>
                             </td>
                         </tr>
                     </table>
                 </label>
             </li>
             <div id="limit">
                 <li>
                     Such as:
                     <span class="lighter">optional</span>
                     <ul class="inputs-list">
                         {% for proposal in limit_proposals %}
                             <li>
                                 <label>
                                     <input name="supported_proposal_limit" type="checkbox" value="{{ proposal.key }}" />
                                     {{ proposal.name }}
                                     <div id="tooltip">
                                         <img src="/images/tooltip.gif" />
                                         <div>{{ proposal.tooltip }}</div>
                                     </div>
                                 </label>
                             </li>
                         {% endfor %}
                     </ul>
                 </li>
             </div>
             <!-- End limit -->

             <!-- begin revolving -->
             <li>
                 <label>
                     <table>
                         <tr>
                             <td>
                                 <input id="revolvingbox" name="pledged_revolving" type="checkbox" onclick="toggleProposals('revolving');" />
                             </td>
                             <td width="28">
                                 <div class="revolvingiconoff" id="revolvingicon"></div>
                             </td>
                             <td>
                                 Close the revolving door between Congress and K Street.
                         <div id="tooltip">
                             <img src="/images/tooltip.gif" />
                             <div>When they retire, many members of Congress pass through the &ldquo;revolving door&rdquo; to become lobbyists with multimillion dollar salaries. Lobbying firms promise these lucrative salaries to lawmakers who bend their views in the lobbyists&rsquo; favor. To close the revolving door, members of Congress should have to wait at least ten years before they are allowed to work as lobbyists.</div>
                         </div>
                             </td>
                         </tr>
                     </table>
                 </label>
             </li>
             <!-- end revolving -->

             <!-- begin reaffirm -->
             <li>
                 <label>
                     <table>
                         <tr>
                             <td>
                                 <input id="reaffirmbox" name="pledged_reaffirm" type="checkbox" onclick="toggleProposals('reaffirm');" />
                             </td>
                             <td width="28">
                                 <div class="reaffirmiconoff" id="reaffirmicon"></div>
                             </td>
                             <td>
                                 Reaffirm that when the Declaration of Independence spoke of entities "endowed by their Creator with certain unalienable Rights," it was speaking of natural persons only.
                         <div id="tooltip">
                             <img src="/images/tooltip.gif" />
                             <div>The Supreme Court has give artificial entities, like corporations, constitutional rights. But constitutional rights should be reserved to persons, only. A collective has the rights of the people within it, but no more.</div> 
                         </div>
                             </td>
                         </tr>
                     </table>
                 </label>
             </li>
             <div id="reaffirm">
                 <li>
                     Such as:
                     <span class="lighter">optional</span>
                     <ul class="inputs-list">
                         {% for proposal in reaffirm_proposals %}
                             <li>
                                 <label>
                                     <input name="supported_proposal_reaffirm" type="checkbox" value="{{ proposal.key }}" />
                                     {{ proposal.name }}
                                     <div id="tooltip">
                                         <img src="/images/tooltip.gif" />
                                     <div>{{ proposal.tooltip }}</div>
                                     </div>
                                 </label>
                             </li>
                         {% endfor %}
                     </ul>
                 </li>
             </div>
             <!-- end reaffirm -->

         </ul>

         <br />
         Signed:
         {% if error_message %}
         <div class="error">{{ error_message }}</div>
         {% endif %}
         
         <table id="pledger">
           <tr class="cls_standard_name" >
             <td>Title: &nbsp;</td>
             <td>	       
	       <select onchange="updatePledgeButtonTitle();" id="in_name_title_combo" class="txt" name="name_title_combo" type="text">
		 <option selected=1> - Select Your Title - </option>
		 <option value="Mr.">Mr.</option>
		 <option value="Mrs.">Mrs.</option>
		 <option value="Miss">Miss</option>
		 <option value="Ms.">Ms.</option>
		 <option value="Dr.">Dr.</option>
		 <option value="Prof.">Prof.</option>
		 <option value="Rev.">Rev.</option>
		   <option value="Other">Other</option>		    
	       </select>
               <span class="lighter">optional</span>
             </td>
	     <td>
           </tr>            
	   <tr id="tr_custom_title" class="cls_standard_name" >   
	     <td></td>         
	     <td>         
	       <input id="in_name_title" class="txt" name="name_title" type="text" onblur="updatePledgeButton();" />
               <span class="lighter">optional, if other, enter your title here.</span>
             </td>
           </tr>            
	   

	   <tr class="cls_standard_name" >	     
             <td>First Name: &nbsp;</td> 
             <td>
	       <input id="in_name_first" class="txt" name="name_first" type="text" onblur="updatePledgeButton();" />
               <span class="lighter">optional</span>
             </td>
	   </tr>
	   
	   <tr class="cls_standard_name" >	     
             <td>Middle Name: &nbsp;</td>
             <td>
	       <input id="in_name_middle" class="txt" name="name_middle" type="text" onblur="updatePledgeButton();" />
               <span class="lighter">optional</span>
             </td>
           </tr>
	   
	   <tr class="cls_standard_name" >	     
             <td>Last Name: &nbsp;</td>
             <td>
	       <input id="in_name_last" class="txt" name="name_last" type="text" onblur="updatePledgeButton();" />
               <span class="lighter">optional</span>
             </td>
           </tr>
	   
	   <tr class="cls_standard_name" >
             <td>Suffix: &nbsp;</td>
             <td>
	       <input id="in_name_suffix" class="txt" name="name_suffix" type="text" onblur="updatePledgeButton();" />
               <span class="lighter">optional</span>
             </td>
           </tr>
	   
	   
	   <tr >
             <td>Full Name: &nbsp;</td>
             <td>
	       <input id="in_name_full"  class="txt" name="name_full" type="text" onblur="updatePledgeNonstandard();" />
               <span class="lighter">optional</span>
	       <input type="checkbox" id="in_name_override" name="name_override"  value="override" onclick="updatePledgeButtonNonstandard();"/>Name that does not fit standard schema<br />
             </td>
           </tr>
	   
	   
           <tr>
             <td>Email:</td>
             <td>
               <input class="txt" name="email" type="text" />
             </td>
           </tr>
           <tr id="error_email" style="display: none;">
             <td></td>
             <td class="error">Invalid email address.</td>
           </tr>
           <tr>
             <td>Address:</td>
             <td>
               <input class="txt" name="address" type="text" />
               <div id="tooltip">
                 <img src="/images/tooltip.gif" />
                 <div>We will not be storing the fields Address, City or Zip Code. We will use those fields to dynamically determine your District. We will be storing your State and District. This is so we can keep track of how many consituents take the pledge according to districting lines.</div>
               </div>
             </td>
           </tr>
           <tr id="error_address" style="display: none;">
             <td></td>
             <td class="error">Address required.</td>
           </tr>
           <tr>
             <td>City:</td>
             <td><input class="txt" name="city" type="text" /></td>
           </tr>
           <tr id="error_city" style="display: none;">
             <td></td>
             <td class="error">City required.</td>
           </tr>
           <tr>
             <td>State:</td>
             <td>
               <select class="slt" name="state">
                 {% include "stateoptions.html" %}
               </select>
             </td>
           </tr>
           <tr>
             <td>Zip Code:</td>
             <td>
               <input class="txt" name="zipcode" type="text" />
               <span class="lighter">optional</span>
             </td>
           </tr>
         </table>
         <div id="geolocating_failure" class="ajaxmessage error">
             We could not geolocate your address. Please verify your address and try again.
         </div>
         <div id="lookup_politicians_failure" class="ajaxmessage error">
             We could not find a district for your address. Please verify your address and try again.
         </div>
         <br/>
         <div class="error" id="error_type" style="display: none;">Please select Candidate, Representative, or Senator</div>
         <br/>
         <input id="districtfield" name="district" type="hidden" />
         <button class="btn" id="pledgebutton" onclick="return lookupDistrict();">I do so pledge.</button>
    </form>
</div><!--/#takethepledgecontent-->

