 <input type="checkbox" id="is_politician" name="is_politician" onclick="$('#politician').toggle();" />
<label for="is_politician">
 I am a candidate or a member of Congress.
 <div id="tooltip" style="display: inline;">
     <img src="/images/tooltip.gif" />
     <div>For candidates or members of Congress, we must first confirm your identity before we record that you have taken the pledge on our site.</div> 
 </div>
</label>
<div id="politician">
 <ul class="inputs-list">
     <li>
         <label>
             <input id="candidate" name="politician_type" type="radio" value="Candidate" onclick="togglePolitician('Candidate');" /> <span>Candidate</span>
         </label>
     </li>
     <li>
         <label>
             <input id="representative" name="politician_type" type="radio" value="Representative" onclick="togglePolitician('Representative');" /> <span>Representative</span>
                    </label>
     </li>
     <li>
         <label>
             <input id="senator" name="politician_type" type="radio" value="Senator" onclick="togglePolitician('Senator');" /> <span>Senator</span>
         </label>
     </li>
     <li>
         <span id="chamberinfo" class="chamberinfo">
             <select class="slt" name="politician_party">
                 <option>Party...</option>
                            {% include "partyoptions.html" %}
             </select>
             <div class="error" id="error_party" style="display: none;">Select Party</div>
         </span>
         <span id="chamber" class="chamberinfo">
             <select id="chamberselect" class="slt" name="politician_chamber" onclick="toggleChamber(this);">
                 <option>Chamber...</option>
                 <option value="House">House</option>
                 <option value="Senate">Senate</option>
             </select>
             <div class="error" id="error_chamber" style="display: none;">Select Chamber</div>
         </span>
         <span id="state" class="chamberinfo">
             <select class="slt" name="politician_state">
                 <option>State...</option>
                 {% include "stateoptions.html" %}
             </select>
             <div class="error" id="error_state" style="display: none;">Select State</div>
         </span>
         <span id="district" class="chamberinfo">
             <select class="slt" name="politician_district">
                 <option>District...</option>
                 {% for i in max_districts %}
                     <option value="{{ i }}">{{ i }}</option>
                 {% endfor %}
             </select>
             <div class="error" id="error_district" style="display: none;">Select District</div>
         </span>
     </li>
 </ul>
</div><!--/#politician-->
