<!-- A partial HTML snippet that can be requested via AJAX and then inserted into a DOM, to represent a politician. -->
<div class="box shadow askrepbox {% if politician.has_pledged %}hastakenpledge{% else %}hasnottakenpledge{% endif %}">
  <div class="box askrepinfo">
    <img src="/images/photos/{{ politician.bioguide_id }}.jpg" />
    <span class="name">{{ politician.type|slice:":3" }} {{ politician.name_first }} {{ politician.name_last }}</span>
    <br/>
    {{ politician.party }},
    {% if politician.district %}
      {{ politician.state }}-{{ politician.district }}
    {% else %}
      {{ politician.state }}
    {% endif %}
  </div>
  <div class="askrepaction">
    <table>
      <tr>
        {% if not politician.has_pledged %}
          <td class="ask">Ask {{ politician.type|slice:":3" }} {{ politician.name_last }}<br/>to take the pledge.</td>
        {% else %}
          <td>Thank {{ politician.type|slice:":3" }} {{ politician.name_last }}<br/>for taking the pledge!</td>
          {% if politician.has_pledged_provide %}
            <td>{% include "provideicon.html" %}</td>
          {% endif %}
          {% if politician.has_pledged_limit %}
            <td>{% include "limiticon.html" %}</td>
          {% endif %}
          {% if politician.has_pledged_reaffirm %}
            <td>{% include "reaffirmicon.html" %}</td>
          {% endif %}
        {% endif %}
      </tr>
    </table>
  </div>
  <div class="box askrepinfo">
    {% if politician.phone %}
      <a href="tel:{{ politician.phone }}">{{ politician.phone }}</a>
      <br/>
    {% endif %}
    {% if politician.twitter %}
      Twitter: <a href="http://twitter.com/{{ politician.twitter }}" target="_blank">@{{ politician.twitter }}</a>
      <br/>
    {% endif %}
    {% if politician.facebook %}
      <a href="http://facebook.com/{{ politician.facebook }}" target="_blank">Facebook</a>
      <br/>
    {% endif %}
    {% if politician.webform %}
      <a href="{{ politician.webform }}" target="_blank">Contact Form</a>
      <br/>
    {% endif %}

    {% if politician.phone|isnull %}
      &nbsp;
      <br/>
    {% endif %}
    {% if politician.twitter|isnull %}
      &nbsp;
      <br/>
    {% endif %}
    {% if politician.facebook|isnull %}
      &nbsp;
      <br/>
    {% endif %}
    {% if politician.webform|isnull %}
      &nbsp;
      <br/>
    {% endif %}

        
    <div id="hr"></div>
    <span class="didit">Did it? Spread the word!</span>
    <div id="social">
      <div>
        <g:plusone size="medium" annotation="none" href="http://www.theanticorruptionpledge.org/state/{{ politician.state }}#{{ politician.bioguide_id }}"></g:plusone>
      </div>
      {% if politician.has_pledged %}
        <div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.theanticorruptionpledge.org/" data-text="Thanks {% if politician.twitter %}@{{ politician.twitter }}{% else %}{{ politician.type|slice:":3" }} {{ politician.name_first }} {{ politician.name_last }}{%endif%} for taking The Anti-Corruption Pledge." data-count="none" data-hashtags="takethepledge">Tweet</a>
        </div>
      {% else %}
        <div>
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.theanticorruptionpledge.org/" data-text="I asked {{ politician.type|slice:":3" }} {{ politician.name_first }} {{ politician.name_last }} to take The Anti-Corruption Pledge." data-count="none" data-hashtags="takethepledge">Tweet</a>
        </div>
      {% endif %}
      <div class="fb-like" data-href="http://www.theanticorruptionpledge.org/state/{{ politician.state }}#{{ politician.bioguide_id }}" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" style="vertical-align:top;zoom:1;*display:inline"></div>
  </div>
</div>
