<div id="geolocating_failure" class="ajaxmessage error">
  Could not determine your location, try again?
</div>
<div id="lookup_politicians_failure" class="ajaxmessage error">
  Could not find your representatives, did you enter the address correctly?
</div>
