{% extends "base.html" %}
{% block page_title %}{{ state_name }} - {% endblock %}
{% block content %}
  <div id="statecontent">
    <div id="title">{{ state_name }}: U.S. Members of Congress</div>
    <div id="buffer"></div>
    <table id="politicians">
      <tr>
        <th colspan="2" width="180">Name</th>
        <th width="180">Congress</th>
        <th width="440">Pledge Status</th>
        </th>
      </tr>
      {% for politician in politicians %}
        <tr>
          <td width="48">
            {% if politician.bioguide_id %}
              <a name="{{ politician.bioguide_id }}"></a>
              <img height="50" id="photo" src="/images/photos/{{ politician.bioguide_id }}.jpg" width="40" />
            {% endif %}
          </td>
          <td class="names">
            {{ politician.name_first }}
            <br/>
            {{ politician.name_last }}
          </td>
          <td>
            {{ politician.type }}
            {% if politician.district %}
              District {{ politician.district }}
            {% endif %}
            <br/>
            {{ politician.party }}
          </td>
          <td>
            {% if politician.has_pledged %}
              {% if politician.has_pledged_provide %}
                {% include "provideicon.html" %}
              {% endif %}
              {% if politician.has_pledged_limit %}
                {% include "limiticon.html" %}
              {% endif %}
              {% if politician.has_pledged_reaffirm %}
                {% include "reaffirmicon.html" %}
              {% endif %}
              {% if politician.has_pledged_revolving %}
                {% include "revolvingicon.html" %}
              {% endif %}
            {% else %}
              Ask {{ politician.type|slice:":3" }} {{ politician.name_last }} to take the pledge.
              <br/>
              {% if politician.phone %}
                <a href="tel:{{ politician.phone }}">{{ politician.phone }}</a>
                &nbsp;&nbsp;
              {% endif %}
              {% if politician.webform %}
                <a href="{{ politician.webform }}">Contact Form</a>
              {% endif %}
              <br/>
              {% if politician.twitter %}
                <a href="http://twitter.com/{{ politician.twitter }}" title="Twitter: @{{ politician.twitter }}"><img height="16" src="/images/twitter_16.png" width="16" /></a>
              {% else %}
                <div style="display: inline-block; height: 16px; width: 16px;"></div>
              {% endif %}
              &nbsp;&nbsp;
              {% if politician.facebook %}
                <a href="http://facebook.com/{{ politician.facebook }}" title="Facebook"><img height="16" src="/images/facebook_16.png" width="16" /></a>
              {% else %}
                <div style="display: inline-block; height: 16px; width: 16px;"></div>
              {% endif %}
              &nbsp;&nbsp;
              {% if politician.googleplus %}
                <a href="http://plus.google.com/{{ politician.googleplus }}" title="Google+"><img height="16" src="/images/googleplus_16.png" width="16" /></a>
              {% endif %}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
